# ==============================
# Python
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
*.egg

# Virtual Environments
venv/
env/
.venv/

# ==============================
# Data (VERY IMPORTANT)
# ==============================
data/
datasets/
*.zip
*.tar
*.tar.gz
*.csv

# ==============================
# Model Weights
# ==============================
*.pt
*.pth
*.onnx

# ==============================
# Generated Images / Visualizations
# ==============================
vis_frame_*.jpg
test_detection_output*.jpg
*.png
*.jpg
# ==============================
# Videos
# ==============================
*.mp4
*.avi
*.mov
*.mkv

# ==============================
# Logs & Outputs
# ==============================
runs/
outputs/
logs/
models/


# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# ByteTrack cache
# ==============================
src/goalx/ps1_cv/bytetrack/__pycache__/